h1,h2,h3,h4,h5{
 
  margin: 0px;
  
}

@media(max-width:600px){
  .App {
     
      background-color: beige;
      overflow-y: hidden;
      
      
    }
}

@media(min-width:601px){
  .App {
      display: flex;
      background-color: beige;
      padding: 10px;
      overflow-y: hidden;
    }
}



