@media(max-width:600px) {
     .login__input {
          display: flex;
          justify-content: center;
          width: 90vw;

          margin-bottom: 10px !important;
     }
}

@media(min-width:601px) {
     .login__input {

          width: 400px;
          margin-bottom: 10px !important;
     }
          .login {
     
               background-color: rgb(188, 253, 185);
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: center;
               width: 100vw;
               height: 100vh;
               background-image: url('../../back.jpeg');
               background-size: 100%;
               background-repeat: no-repeat;
          }
}


.login>h2 {

     background-color: rgb(154, 185, 154);
     border-radius: 5px;
     margin-bottom: 10px;
     padding: 10px;
     width: 100%;
     padding-left: 92%;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 30px;
}

.login__container {
     margin-bottom: 150px;
     display: flex;
     flex-direction: column;
     margin-left: 10px;
     margin-right: 10px;
     padding: 10px;
     border-radius: 5px;
     align-items: center;
     justify-content: center;
     width: max-content;
     background-color: rgb(231, 231, 231);
}

.login__btns {

     display: flex;
     align-items: center;
     justify-content: space-around;
     width: 100%;
}