@media(max-width:600px){

     .dropdown {
               display: none;
               position: absolute;
               background-color: white;
               padding: 10px;
               width: max-content;
               top: 25px;
               left: -80px;
               z-index: 1;
          }
}
@media(min-width:601px){
.dropdown {
          display: none;
          position: absolute;
          background-color: white;
          padding: 10px;
          width: max-content;
          top: 25px;
          left: -90%;
          z-index: 1;
     }
}

.dropdown__container{

     display: flex;
     flex-direction: column;
     
}
.dropdown__container>p{

     cursor: pointer;
     border-bottom: 1px solid gray;
}